.theme-dark .editor-page .rte-placeholder {
  background-color: #303133;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.theme-dark .editor-page .media-parent {
  background-color: #303133;
}

.theme-dark .editor-page .rte-placeholder span {
  opacity: 70%;
}
