.theme-dark .editor-page .rte-placeholder {
  background-color: #2c2d30;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.theme-dark .editor-page .media-parent {
  background-color: #2c2d30;
}

.theme-dark .editor-page .rte-placeholder span {
  opacity: 70%;
}

.theme-dark .editor-page hr {
  border-color: #60656e;
}
