.theme-dark .value-selector {
  display: inline-flex;
  width: fit-content;
  border: 1px solid #30343a;
  user-select: none;
}

.theme-dark .value-selector > div {
  background-color: #3f444b;
  padding: 1px 4px;
  cursor: pointer;
  border-left: 1px solid #30343a;
}

.theme-dark .value-selector > div:first-child {
  border-left: none;
}

.theme-dark .value-selector > div:hover {
  background-color: #2f6097;
}
.theme-dark .value-selector > div.selected {
  background-color: #448ee4;
}
